@import "reset";
@import "colors";
@import "variables";

@mixin fontBase() {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: $padding-3;
  font-weight: 400;
  color: $color-nero;
  &:hover {
    color: $color-blu;
  }
}

body {
  background-color: $color-grigio;
  color: $color-bianco;
}

main {
  text-align: center;
  margin: $margin-2;
  #contenitore {
    width: 50%;
    margin: $margin-1 $margin-auto;
    border-radius: $margin-1;
    background-#{$b-color}: rgb(68, 64, 64);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .container-cards {
    width: 100%;
    display: flex;
    margin-top: $margin-3;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 560px) {
      display: block;
      margin: $margin-2 $margin-auto;
      width: 50%;
    }
    .cards {
      width: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      border: 2px solid black;
      border-radius: $margin-2;
      background-color: $color-verde;
      color: $color-nero;
      box-shadow: 5px 0 20px 10px;
      margin: $margin-3 $margin-1;
      h3 {
        font-weight: 800;
      }
      p {
        font-weight: 400;
        color: $color-bianco;
      }
      h4 {
        color: $color-rosso;
        text-decoration: underline;
      }
      img {
        height: $margin-4 * 2;
        width: 100%;
        border-top-left-radius: $margin-2;
        border-top-right-radius: $margin-2;
        margin-bottom: $padding-4 * 2;
      }
    }
  }
}

.h2_features {
  @include fontBase();
  margin-top: $padding-4 * 10;
  margin-bottom: $padding-4 * 6;
}

.ul_pricing {
  text-align: left;
  margin: $margin-4 0 $margin-3 * 2;
  color: $color-nero;
  font-weight: 600;
  li {
    letter-spacing: $padding-2;
    margin: $padding-4 * 4;
  }
}

.p_pricing {
  @include fontBase();
  font-size: $padding-4 * 4;
  color: $color-rosso;
  text-decoration: underline;
}

.main_lastPage {
  margin: $margin-3 $margin-auto;
  background-color: rgb(94, 87, 87);
  border-radius: $margin-3;
  padding: $padding-1 0;
  h2 {
    @include fontBase();
    margin: $margin-4 $margin-1;
  }
  p {
    color: $color-grigio;
    margin-bottom: $margin-2;
  }
  h6 {
    @include fontBase();
    font-size: smaller;
    color: rgb(94, 87, 87);
    margin-bottom: $margin-2;
    &:hover {
      color: $color-rosso;
      font-size: $margin-1;
    }
  }
}
